@charset "utf-8";
/* CSS Document */

/***************************Hack IE6*************************************/
*html .lbBullet{ 
	padding-top: 3px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px; 
	margin: 10px 0px 0px 15px; 
	width: 20px; 
	float: left; 
	height: 24px;  
	background:#37b6ce;
}
* html .subtitle{
	padding-top: 3px;
	padding-left: 5px;
	padding-bottom: 0px;
	padding-right: 0px; 
	margin: 10px 10px 10px 0px ;  
	width: 690px; 
	float: left; 
	height: 24px; 
	background: #EBF1F3;
	font: 16px "Courier New", Courier, monospace;
	text-align:left;
	vertical-align:middle;
	color: #003366;
	text-align:left
}
*html .Lheader{
	font-size: 12px ; 
	
}