/*@charset "utf-8";
 CSS Document */
*{	
	padding: 0px; 
	margin: 0px; 
}
body {
	font:12px "Courier New", Courier, monospace; 
	color: #454545; 
	background-image:url(../../images/Menu/bg_master.png);
	background-repeat:repeat-x;
	background-attachment:fixed;
}
a {
	background: inherit; color: #454545; text-decoration: none;
}
#left a {
	border-bottom: #fff 1px;
}
#right a {
	border-bottom: #000 1px dotted;
}
a:hover {
	background: inherit; color: #000;
}
p {
	margin: 0px ;
	padding:0px!important;
	padding:5px 10px 5px 10px;
}
h1 {
	padding-top:0px; padding-right: 10px;padding-bottom: 10px; padding-left: 10px; 
	margin: 10px 10px 0px 10px;  font: 20px "Courier New", Courier, monospace;
}
h2 {
	padding:0px; 
	margin: 0px 0px 0px 10px;
	padding-bottom: 10px; padding-left: 10px; 
	font: 18px"Courier New", Courier, monospace;
	color:#666666;
}
h1 a {
	background: inherit; 
	color: #000; 
	text-decoration: none;
}
h2 a {
	background: inherit; 
	color: #666666; 
	text-decoration: none;
}
img {
	border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;
}

#content {
	width: 1003px;
	margin:auto;
}

#header {
	padding:0px 0px 0px 0px; 
	margin: 0px; 
	width: 1003px; 
	height: auto; 
	color: #cd5c72;
}

.logo {
	padding:10px 0px 5px 0px; 
	width: 1003px;
	height: 140px;
}

.mainManu{ 
	padding:0px; 
	margin:0px; 
	width:1003px; 
	clear:both; 
	height: 27px;  	
	font-size: 12px; 	
	background:#015367;
	float:left;
}

.lbLogout{
	padding-top: 5px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px; 
	margin: 0px 0px 0px; 
	width: 100px; 
	float: right; 
	height: 24px; 
	font-size: 13px; 
	vertical-align: middle; 
	text-decoration: none;
	background:url(../../images/Menu/menu2.gif);
	text-align:left;
}
.lbLogout a {
	color:#ccc;
	background:none;
}
.lbLogout a:hover {
	color: #ff0000; 
	background:none;
}

.lbUser{ 
	padding-top:5px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px; 
	margin: 0px; 
	width: 60px; 
	float: right; 
	height: 24px; 
	font-size: 12px; 
	vertical-align: middle; 
	text-decoration: none;
	text-align:left; 
	color:#ccc;
}
.account{ 
	padding-top: 5px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px; 
	margin: 0px; 
	width: 250px; 
	float: right; 
	height: 24px; 
	font-size: 13px; 
	text-decoration: none;
	text-align:left; 
	vertical-align:middle;
	/*color:#5fbdce;*/
	color:#66FFFF;
}

#left {
	 padding-top:5px; 
	 padding-bottom: 5px; 
	 margin: 0px; 
	 width: 200px;
	 float: left;  
	 background:#EBF1F3;
}
.manuLeft {
	border:0px;
}
.Lheader{
	width:200px;
	height:27px;
	border: 0px; 
	margin: 0px; 
	padding-top: 12px;
	padding-right: 0px; 
	padding-bottom:0px; 
	padding-left: 0px;
	background: url(../../images/Menu/btnManuLeft.png); 
	font-size: 11px; 
	text-align:center;
	vertical-align:middle;
	color: #fff;
}
.Lheader a:hover {
	color: #003366;
	background:none;
}

.subheader{
	width:150px;
	height:15px;
	border: 0px; 
	margin:0px; 
	padding-top: 3px;
	padding-right: 3px; 
	padding-bottom:5px; 
	padding-left: 35px;
	background: #EBF1F3;
	font-size: 12px; border-top: 0px; border-right: 0px; 
	text-align:left;
}
.subheader a {
	color: #003366;
	background:none;
}
.subheader a:hover {
	color: #29ABE2;
	background:none;
}
/**********************************************************************************************************************/
#right {
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px; 
	padding-left: 0px; 
	border-top:#EBF1F3 2px solid;
	width: 793px;   
	float:right; 
	color:#454545;
	background:#fff;
}
#right p {
	margin:20px;
	width: 700px;
}

.lbBullet{ 
	padding-top: 3px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px; 
	margin: 0px 0px 0px 15px; 
	width: 20px; 
	float: left; 
	height: 24px;  
	background:#37b6ce;
}
.subtitle{
	padding-top: 3px;
	padding-left: 5px;
	padding-bottom: 0px;
	padding-right: 0px; 
	margin: 0px 10px 0px 0px;   
	width: 95%; 
	float: left; 
	height: 24px; 
	background: #EBF1F3;
	font: 16px "Courier New", Courier, monospace;
	text-align:left;
	vertical-align:middle;
	color: #003366;
	text-align:left
}

.layout{
	padding-bottom:2px;
}

table{
	border:0;
	padding:10px 20px 10px 20px;
}
/*.txt1{font:14px "Courier New", Courier, monospace; color:#454545}
.txt2{font:14px "Courier New", Courier, monospace;font-weight:bold; color:#000;}
.txt3{font:12px "Courier New", Courier, monospace; font-weight:bold; color:#007236; text-align:left; text-decoration:underline;}*/
/**********************************************************************************************************************/
#footer {
  padding-top:3px; 
  padding-right:0px; 
  padding-bottom: 0px; 
  padding-left: 0px; 
  width: 1003px; 
  height: 35px; 
  background:#015367;
  color: #5fbdce; 
  clear: both; 
  text-align:center;

}

.sslbl
{
    font: 12px "Courier New", Courier, monospace;
	color: #000000;
	font-weight :normal;
	text-decoration: none;
	vertical-align:top ;
	padding: 1px;
   	
}
.sslbl_red
{
    font: 12px "Courier New", Courier, monospace;
	color: Red;
	font-weight :normal;
	padding: 1px;
   	
}
.sslbl_bold
{
    font: 12px "Courier New", Courier, monospace;
	color: #000000;
	font-weight :bold;
	text-decoration: none;
	vertical-align:top;
	padding: 1px;
    width: 85%;
}
.sslbl_black
{
    font: 12px "Courier New", Courier, monospace;
	color: #000000;
	font-weight :bold;
	text-decoration: none;
	vertical-align:top ;
	padding: 1px;
   	
}
.sslbl_black_n
{
    font: 12px "Courier New", Courier, monospace;
	color: #000000;
	font-weight :normal;
	text-decoration: none;
	vertical-align:top ;
	padding: 1px;
   	
}
.sslbl_gray
{
    font: 12px "Courier New", Courier, monospace;
    background-color: #CCCCCC;
	color: #000000;
	font-weight :bold;
	text-decoration: none;
	vertical-align:top ;
	padding: 1px;
   	
}
.sslbl_right
{
    font: 12px "Courier New", Courier, monospace;
	color: #000000;
	font-weight :normal;
	text-decoration: none;
	vertical-align:top ;
	padding: 1px;
	text-align :right ;
   	
}
.ssddl 
{
	font: 12px "Courier New", Courier, monospace;
	color: #000000;
	font-weight :normal;
	text-decoration: none;
	vertical-align:top ;
	padding: 1px;
}

.ssddl_right
{
	font: 12px "Courier New", Courier, monospace;
	color: #000000;
	text-decoration: none;
	background-color: White;
    margin-left: 0px;
    text-align :right ;
}


.ssDropDownList {
	font: 12px "Courier New", Courier, monospace;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
}

.ssDropDownList {
	font: 12px "Courier New", Courier, monospace;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
}

.ssddlcus {
	font: 12px "Courier New", Courier, monospace;
}

.ssCheckBox {
	font: 12px "Courier New", Courier, monospace;
	color: #000000;
	text-decoration: none;
	
}
.ssbtn {
	font: 12px "Courier New", Courier, monospace;
	text-decoration: none;
	width: 70px;
	cursor:hand;
}


table.form 
{
	width:100%;
}
table.form td.head 
{
    font: 12px "Courier New", Courier, monospace;

}
table.form 
{
	/*background-color: #FFFFFF;*/
	width:100%;
    height: 36px;
}
table.form td.caption 
{
	font: 12px "Courier New", Courier, monospace;
	color: #ffffff;
	font-weight: bold;
	background-color: #006699;/*table head*/
	vertical-align:top;
	}

table.form td.caption 
{
	font: 12px "Courier New", Courier, monospace; 
	color: #ffffff;
	font-weight: bold;
	background-color: #006699;/*table head*/
	vertical-align:top;
	}

table.form td.caption_cus
{
	font: 12px "Courier New", Courier, monospace;
	color: #000000;
	background-color: #6699ff;
	vertical-align:top;
	
}
table.form td.caption1 
{
	font: 12px "Courier New", Courier, monospace;
	color: #000000;
	background-color: #6699ff;
	font-size: 14px;
	width: 15%; 
		
}
table.form td.detail 
{
	font: 12px "Courier New", Courier, monospace; 
	color: #000000;	
	/*background:url("../images/bg001.jpg");*/
	background-color: #D7EBFF;/*table detail*/
	vertical-align:top;
}
table.form td.detail_cus 
{
	font: 12px "Courier New", Courier, monospace;
	color: #000000;
	background-color: #e6e6fa;
	vertical-align:top;
	
}
table.form td.note {
	font-size:10px;
	color: #000000;
	background-color: #FFCBA8;
}
table.form td.foot {
	font-size: 12px;
	color: #FF6F0F;
	background-color: #000000;
}
gw_cs
		{
	
	font: 12px "Courier New", Courier, monospace;
	font-weight:normal;
	width:100%;
	text-align: left;
		
		
}
th {
	background-color: #007DB3;
	font: 12px "Courier New", Courier, monospace;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: Black;
	background-image: url(../../images/th_bg.gif);
    
}